* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 1200px;
    min-height: 500px;
    background-color: #f9f9fb;
    margin: 0px auto;
}

/* Top Header */
#top-header {
    background: #212429;
    height: 50px;
}

.menu-bars {
    width: 30%;
}

.menu-bars .fa-bars {
    color: #ffffff;
    padding: 16px 20px 16px 20px;
    border: 1px solid #2e303c;
}

.menu-bars, .logo, .social-icons {
    float: left;
}

.logo {
    background-image: url(../images/Logo.jpg);
    height: 49px;
    width: 30%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: top;
    margin-top: -4px;
}

.social-icons {
    width: 40%;
    text-align: right;
}

.social-icons i:nth-child(1) {
    border-left: 1px solid #2e303c;
}

.social-icons i {
    color: #ffffff;
    padding: 17px 20px 16px 20px;
    border-right: 1px solid #2e303c;
}

/* End of Top Header */

/* Header Slider */
#header-slider {
    background-image: url(../images/banner.jpg);
    width: 1100px;
    margin: 0px auto;
    height: 500px;
}

/* End of Header Slider */

/* subs form */
#subs-form {
    width: 1100px;
    padding: 10px;
    margin: 8px auto;
}

#subs-form input[type="text"] {
    padding: 10px 20px;
    font-size: 12px;
    border: 0.5px solid #dddddd;
    background: #ffffff;
    color: #999999;
    width: 82%;
    outline: none;
}

#subs-form input[type="button"] {
    padding: 10px 20px;
    font-size: 12px;
    background-color: #212121;
    width: 89%;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #212121;
}

#subs-form table span {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: bold;
    width: 89%;
    margin-left: 11%;
}

/* End of subs form */

/* content section */
.post {
    font-family: 'Montserrat', sans-serif;
    width: 23%;
    padding: 20px 2px;
    margin: 10px;
    float: left;
    text-align: center;
    background-color: #ffffff;
}

.post h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #212121;
    margin: 5px 0px;
}

.post span {
    text-transform: uppercase;
    margin: 5px 0px;
    font-size: 12px;
    color: #999999;
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
}

.post p {
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    line-height: 20px;
    margin: 10px 36px;
}

.post .readmore {
    text-transform: uppercase;
    word-spacing: 5px;
    color: #212121;
    padding: 5px 10px;
    border: 0px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    background-color: transparent;
    outline: none;
}

/* End of content section */
